<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> insert user:</h2>
{{ req_method }}
<form action="/INSERT" method="POST">
    <label><input name="email" type="email" placeholder="your email"> </label>
    <label><input name="firstname" type="text" placeholder="your first name"></label>
    <label><input name="lastname" type="text" placeholder="your last name"> </label>
    <input type="submit">
</form>

<h2> Delete user:</h2>
<form action="/DELETE" method="POST">
    <label><input name="id" type="text" placeholder="user ID:"> </label>
    <input type="submit">
</form>

<h2> update user:</h2>
<form action="/UPDATE" method="POST">

    <label><input name="id" type="text" placeholder="user ID:"> </label>
    <label><input name="email" type="email" placeholder="your name"> </label>
    <label><input name="firstname" type="text" placeholder="your first name"></label>
    <label><input name="lastname" type="text" placeholder="your last name"> </label>
    <input type="submit">
</form>

</body>
</html>