<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="{{ url_for('static', filename='css/contactlist.css') }}">
<article class="Contactlist">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact List </title>
    </head>
    <body>
        <h1> Contact List</h1>
        <main>
            <ul id="contacts"></ul>
        </main>
        <script src="../static/js/jsContactlist.js"></script>
        <a href="mainPage.html">
            <button class="btnCV" style="margin: 5px;" type="button">Back to menu</button>
        </a>
    </body>
</article>
</html>
