<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/InsertUpdateDelete.css') }}">

<article class="insertUpdateDelete">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <h2> insert user:</h2>
    <form action="/INSERT" method="POST">
        <label><input name="email" type="email" placeholder="your email"> </label>
        <label><input name="firstname" type="text" placeholder="your first name"></label>
        <label><input name="lastname" type="text" placeholder="your last name"> </label>
        <input type="submit" class="glow-on-hover">
    </form>

    <h2> Delete user:</h2>
    <form action="/DELETE" method="GET">
        <label><input name="id" type="text" placeholder="user ID:"> </label>
        <input type="submit" class="glow-on-hover">
    </form>

    <h2> update user:</h2>
    <form action="/UPDATE" method="GET">

        <label><input name="id" type="text" placeholder="user ID:"> </label>
        <label><input name="email" type="email" placeholder="your name"> </label>
        <input type="submit" class="glow-on-hover">
    </form>

    </body>
</article>
</html>