<!DOCTYPE html>
<html lang="en">
<style>
    ul.a {
        list-style-type: circle;
    }
</style>
<main class="grid-container">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}">
    <article class="MainPage">

        <div class="grid-area FullName">
            <h1> Welcome to Barak Haran Website</h1>
        </div>

        <div class="grid-area bgu">
            <img src="../static/photos/bgu.PNG" width="410" height="225" >
        </div>

        <div class="grid-area myAdvantages">
            <button class="glow-on-hover1" onclick="click2()">First advantage</button>
            <button class="glow-on-hover1" onclick="click1()">Second advantage</button>
        </div>

        <div class="grid-area text1">
            <p>
                creative
            </p>
            <script src="../static/js/js1.js"></script>
        </div>

        <div class="grid-area Information">
            <a href="/message">
                <button class="glow-on-hover">Message</button>
            </a>
            <a href="/cv">
                <button class="glow-on-hover">CV</button>
            </a>
            <a href="https://www.linkedin.com/in/barak-haran/">
                <button class="glow-on-hover">Linkedin</button>
            </a>
             <a href="/contactList">
                <button class="glow-on-hover">Contact List</button>
            </a>
             <a href="/my_Hobbies">
                <button class="glow-on-hover">My hobbies</button>
            </a>
             <a href="/assignment9">
                <button class="glow-on-hover">Search</button>
            </a>
        </div>
    </article>
</main>
</html>