<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Message.css') }}">

<title>Massage</title>
<form class="Form" method="post" action="#" onSubmit="return validate(this);" name="form">
    <div class="message1">
        <label for="msg">Message</label>
        <textarea id="msg" cols="100" rows="15" placeholder="Write something.."></textarea>
    </div>
    <div class="contact">
        <label for="name">Name Or company</label>
        <input type="text" id="name">

        <script src="../static/js/js1.js"></script>
        <br>
        <label for="phone">Phone</label>
        <input type="text" id="phone">

        <button class="glow-on-hover" type="submit" onclick="ValidateName()">Submit</button>
    </div>
</form>